<ion-header>
    <ion-navbar color="info">
        <ion-title>ส่งรหัสผ่านสำเร็จ</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div *ngIf="sending" class="sending">
        กำลังส่งข้อมูล...
    </div>
    <div *ngIf="!sending && error==''" class="text">
        ระบบได้ทำการส่งรหัสผ่านของคุณเข้าไปในอีเมลล์ <b>{{ auth.email }}</b>
        คุณสามารถเข้าไปตรวจสอบได้
    </div>
    <div *ngIf="!sending && error!=''" class="error">
        เกิดข้อผิดพลาดเนื่องจาก {{ error }}
    </div>
    <button ion-button block icon-start color="light" (click)="send()">
        <ion-icon name="mail"></ion-icon> ส่งรหัสผ่านอีกครั้ง
    </button>
    <button ion-button block icon-start (click)="back()">
        <ion-icon name="arrow-round-back"></ion-icon> กลับไปยังหน้าเข้าสู่ระบบ
    </button>
</ion-content>
