<ion-header>
    <ion-navbar color="info">
        <ion-title>ประวัติการ CHECK IN</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" (click)="load(true)">
                <ion-icon name="sync"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div text-center *ngIf="loading">กำลังโหลด...</div>
    <ion-list *ngIf="data.length>0">
        <ion-item *ngFor="let item of data" (click)="open(item)">
            <p>วัน-เวลา เข้า : {{ item.datetime1 }}</p>
            <p>วัน-เวลา ออก :
                <span *ngIf="item.status=='N'">{{ item.datetime2 }}</span>
                <span class="text-secondary" *ngIf="item.status=='Y'">กำลัง Check In</span>
            </p>
            <ion-note item-end>
                <span class="text-danger" *ngIf="item.status=='Y'">
                    <div class="text-right">{{ item.datetime1 | timeUse }} นาที</div>
                    <div class="text-right">{{ item.datetime1 | timeUse | priceUse : item.rate_over : item.rate_price }}
                        บาท</div>
                </span>
                <span class="text-secondary" *ngIf="item.status=='N'">
                    <div class="text-right">{{ item.datetime1 | timeUse: item.datetime2 }} นาที</div>
                    <div class="text-right">{{ item.price }} บาท</div>
                </span>
            </ion-note>
        </ion-item>
    </ion-list>
    <div text-center *ngIf="!loading && data.length==0">ไม่พบประวัติการ Check In ของคุณ</div>
</ion-content>
