<ion-header>
    <ion-navbar color="info">
        <ion-title>ชั้นจอดรถ</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" (click)="load(true)">
                <ion-icon name="sync"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div text-center *ngIf="loading">กำลังโหลด...</div>
    <ion-list *ngIf="floor.length>0">
        <ion-item *ngFor="let item of floor" no-padding>
            <ion-thumbnail item-start>
                <img src="{{ item.floor_img }}">
            </ion-thumbnail>
            <h2>{{ item.floor_name }}</h2>
            <p *ngIf="item.num>0" class="text-secondary">ที่ว่าง {{ item.num }}</p>
            <p *ngIf="item.num==0" class="text-danger">ไม่มีที่ว่าง</p>
            <button ion-button clear item-end (click)="open(item)">เปิดดู</button>
        </ion-item>
    </ion-list>
    <div text-center *ngIf="!loading && floor.length==0">ไม่พบข้อมูลชั้นที่จอดรถ</div>
</ion-content>
